
        .container {
            width: 100vw;
            height: 100vh;
            border: 1px solid;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 0.5fr 5fr 0.5fr;

            grid-template-areas:
                "header header header"
                "content content content"
                "content2 content2 content2"
                "footer footer footer ";

            background-image: url("./imagenes/lluviaVaporVelocidad.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 300vp;
            font-style: oblique;
            /* color: #3e3f17; */
        }

        .item {
            border: 1px solid;
            width: 100vw;
            height: auto;

        }

        .item1 {
            color: #3e3f17;
            grid-area: header;
            text-align: center;
            font-size: 30px;
        }

        .item2 {
            /* 3 columnas */
            grid-area: content;
            text-align: center;
            font-size: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            
        }

        a:link {
            color: #3e3f17;
            text-decoration: none;
            font-weight: bold;
            font-size: 30px;
        }

        a:visited {
            color: #3e3f17;
            /* Color después de hacer clic (cuando el enlace ha sido visitado) */
        }

        a:hover {
            color: #c4c771;
        }

        .item3 {
            grid-area: content2;

        }

        .item4 {
            grid-area: footer;
            text-align: center;
        }

        .t {
            font-size: 50px;
            text-align: justify;
            padding-left: 100px;
        }

        .t1 {
            font-size: 20px;
            text-align: justify;
            padding-left: 100px;
        }

